.messages-container {
  height: 530px;
  overflow-y: scroll;
}

.users-container {
  max-height: 530px;
  overflow-y:  scroll;
}

.username {
  width: 10%;
  font-weight: bold;
}

.message {
  width: 90%;
  padding-left: 10px;
  border-left: 1px solid #ddd;
}