<form>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Ingresa tu username</h3>
      </div>
      <div class="modal-body">
        <input class="form-control input-lg" type="text" placeholder="Username..." ng-model="modalUsername" />
      </div>
      <div class="modal-footer">
        <input class="btn btn-primary btn-lg" type="submit" value="Aceptar" ng-click="saveUsername()" ng-disabled="!modalUsername" />
      </div>
    </div>
  </div>
</form>